html{
	height: 100%;
}
body{
	height: 500px;
	background: #ccc;
	height: 100%;
	overflow: hidden;
}
#mapid{ 
	height: 300px; 
}

.editmap{
    cursor:pointer;
	cursor:hand;
	/*cursor: url(marker-icon-2x.png), auto;*/
    /*background-image: url(/scr/marker-icon-2x.png);*/
}

#layover{
    position: absolute;
    bottom: 0;
    right: 15px;
    float: right;
    z-index: 100;
    width: 100%;
    background: rgba(204, 204, 204, 0.5);
    text-align: center;
    padding: 20px 0;
    padding: 20px 10px;
    overflow: hidden;
}
textarea{
	width: 90%;
}
#addpin{
	position: absolute;
    z-index: 100;
    border-radius: 100%;
    bottom: 50px;
    right: 50px;
    width: 80px;
    height: 80px;
    background-image: url(map_icon-1.png);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    /*background-color: rgba(0, 0, 0, 0.27);*/
    opacity: 0.7;
    background-position: center;
    color: rgba(0, 0, 0, 0);
    border: none;
    background-size: auto 80%;
}
.btn-icon{
	background-image: url(help.png);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    /*opacity: 0.7;*/
    background-position: center;
    color: rgba(0, 0, 0, 0);
    border: none;
    background-size: auto 80%;
    font-size: 0px;
    padding: 50px;
}
.btn-icon:hover, .btn-icon:focus, .btn-icon:active, .btn-icon:visited{
    background-color: rgba(0, 0, 0, 0);
}
.btn-icon:disabled, .btn-icon[disabled]:hover{
    background-color: rgba(0, 0, 0, 0);
    cursor: not-allowed;
}
#hazard{
	background-image: url(hazard.png);
}
#found{
	background-image: url(found.png);
}
#supplies{
	background-image: url(supplies.png);
}
